# Build files
target/
*.class

# Log files
**/*.log
**/*.log.*

# TMP Files #
*.tmp	

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/pmd.html
/pmd.summary.html

# Intellij Files #
.idea
*.iml

#VSCode
.vscode

# Eclipse
.settings/
.project
.cproject
.classpath

# Vagrant
.vagrant/
postman/Isabel.postman_collection.json
postman/VAGRANT.postman_environment.json
